.add-task{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}
.add-task h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.add-task input{
    width: 500px;
    border-radius: 5px;
    padding: 10px;
}
.add-task button{
    width: 150px;
    background-color: rgb(30, 30, 244);
    color: rgb(255, 255, 255);
}
.chead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.chead .task-inc{
    background-color: #f7e373;
    padding: 5px 10px;
    font-family: cursive;
    border-radius: 5px;
}
.chead .task-cmp{
    background-color: #adfa49;
    padding: 5px 10px;
    font-family: cursive;
    border-radius: 5px;
}
.card-container{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    flex-wrap: wrap;
}
.card-container .card{
    margin-left: 30px;
    width: 18em;
}
.card-container .no-task{
    text-align: center;
     width: 100%;
  font-size: 30px;
  font-weight: bold;
  color: gray;
}
/* Filter */
.filter-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  20px 0px;
}
.filter-group select{
    margin-left: 20px;
    border: 1px solid rgb(158, 158, 158);
    padding: 10px;
    border-radius: 5px;
}
